body{
background:#fff;
font-family:Arial,sans-serif;
}

.owl{
width:130px;
animation:bounce 1s infinite;
}

.progress{
width:350px;
height:20px;
margin:auto;
border-radius:20px;
}

.progress-bar{
width:0%;
transition:0.1s;
}

@keyframes bounce{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}

@media(max-width:576px){

.progress{
width:90%;
}

.owl{
width:100px;
}

}